#### OTLE 

Este notebook sirve para tener un preview del fichero CSV obtenido del Observatorio de Transporte y Logística de España (OTLE).

Se ha descargado el archivo csv en el siguiente [link](https://apps.fomento.gob.es/BDOTLE/visorBDpop.aspx?i=328), bajo el siguiente título: *Tráfico de mercancía y pasaje en puertos de interés general (número de buques y GT) por Autoridad Portuaria, tipo de buque y nacionalidad*

In [6]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [7]:
df = pd.read_csv('../data/Num_buques_GT_Tipo_Buque.csv')
df.head()

,autoridad_portuaria,tipo_buque,procedencia,year,num_buques,gt,Textbox16,Textbox18,Textbox19,Textbox21,Textbox113,Textbox116,Textbox115,Textbox120,Textbox66,Textbox73,num_buques12,Textbox122,num_buques3,Textbox101,num_buques11,Textbox119,num_buques17,Textbox128,num_buques10,Textbox112,num_buques16,Textbox129,num_buques22,Textbox133,num_buques5,Textbox103,num_buques21,Textbox134,num_buques27,Textbox138,num_buques20,Textbox132,num_buques26,Textbox139,num_buques32,Textbox143,num_buques7,Textbox105,num_buques31,Textbox144,num_buques35,Textbox148,num_buques39,Textbox147,num_buques36,Textbox149,num_buques42,Textbox153,num_buques9,Textbox107,num_buques41,Textbox154,Textbox164,Textbox165,Textbox162,Textbox163,Textbox123,Textbox124
0,Autoridad Portuaria A Coruña,Tanqueros,Nacionales,2019,3.0,54.468,Subtotal tanqueros,427.0,9.527.266,Total A.P. A Coruña,53.0,211.704,1.16,20.283.007,1.213,20.494.711,1.261,10.782.424,12.753,259.162.533,14.014,269.944.957,266,1.710.438,5.667,141.970.646,5.933,143.681.084,567,2.463.477,12.305,76.430.392,12.872,78.893.869,40.110,405.687.571,30.823,546.115.460,70.933,951.803.031,156,1.740.525,15.157,526.436.320,15.313,528.176.845,1.265,1.095.364,1.734,16.895.717,2.999,17.991.081,43.318,61.035.912,5.562,340.080.026,48.880,401.115.938,86.943,484.515.711,84.001,1.907.091.094,170.944,2.391.606.805
1,Autoridad Portuaria A Coruña,Tanqueros,Nacionales,2020,4.0,21.696,Subtotal tanqueros,291.0,7.266.674,Total A.P. A Coruña,114.0,582.845,727.00,10.390.202,841.000,10.973.047,1.103,8.263.662,12.357,253.470.156,13.460,261.733.818,234,1.460.235,5.276,132.144.133,5.510,133.604.368,509,2.571.035,10.802,68.218.387,11.311,70.789.422,29.535,297.110.790,17.857,391.533.494,47.392,688.644.284,157,1.739.308,14.236,495.154.891,14.393,496.894.199,1.273,1.022.171,1.501,16.722.037,2.774,17.744.209,21.395,38.039.130,1.594,66.932.662,22.989,104.971.792,54.206,350.206.331,63.623,1.424.175.760,117.829,1.774.382.092
2,Autoridad Portuaria A Coruña,Tanqueros,Nacionales,2021,1.0,5.424,Subtotal tanqueros,381.0,8.438.750,Total A.P. A Coruña,100.0,524.664,838.00,13.895.384,938.000,14.420.048,1.199,9.132.928,12.515,253.388.726,13.714,262.521.654,234,1.434.934,5.570,139.247.183,5.804,140.682.117,520,2.166.084,11.699,76.186.818,12.219,78.352.902,33.925,356.671.396,19.912,439.014.560,53.837,795.685.956,1,4.990,14.581,466.997.902,14.582,467.002.892,1.205,990.785,1.442,13.340.836,2.647,14.331.621,31.782,51.920.624,4.304,190.690.895,36.086,242.611.519,68.866,422.321.741,70.023,1.578.866.920,138.889,2.001.188.661
3,Autoridad Portuaria A Coruña,Tanqueros,Extranjeros,2019,424.0,9.472.798,Subtotal tanqueros,427.0,9.527.266,Total A.P. A Coruña,53.0,211.704,1.16,20.283.007,1.213,20.494.711,1.261,10.782.424,12.753,259.162.533,14.014,269.944.957,266,1.710.438,5.667,141.970.646,5.933,143.681.084,567,2.463.477,12.305,76.430.392,12.872,78.893.869,40.110,405.687.571,30.823,546.115.460,70.933,951.803.031,156,1.740.525,15.157,526.436.320,15.313,528.176.845,1.265,1.095.364,1.734,16.895.717,2.999,17.991.081,43.318,61.035.912,5.562,340.080.026,48.880,401.115.938,86.943,484.515.711,84.001,1.907.091.094,170.944,2.391.606.805
4,Autoridad Portuaria A Coruña,Tanqueros,Extranjeros,2020,287.0,7.244.978,Subtotal tanqueros,291.0,7.266.674,Total A.P. A Coruña,114.0,582.845,727.00,10.390.202,841.000,10.973.047,1.103,8.263.662,12.357,253.470.156,13.460,261.733.818,234,1.460.235,5.276,132.144.133,5.510,133.604.368,509,2.571.035,10.802,68.218.387,11.311,70.789.422,29.535,297.110.790,17.857,391.533.494,47.392,688.644.284,157,1.739.308,14.236,495.154.891,14.393,496.894.199,1.273,1.022.171,1.501,16.722.037,2.774,17.744.209,21.395,38.039.130,1.594,66.932.662,22.989,104.971.792,54.206,350.206.331,63.623,1.424.175.760,117.829,1.774.382.092

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1176 entries, 0 to 1175
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   autoridad_portuaria  1176 non-null   object
 1   tipo_buque           1176 non-null   object
 2   procedencia          1176 non-null   object
 3   year                 1176 non-null   int64
 4   num_buques           1113 non-null   float64
 5   gt                   1113 non-null   object
 6   Textbox16            1176 non-null   object
 7   Textbox18            1158 non-null   float64
 8   Textbox19            1158 non-null   object
 9   Textbox21            1176 non-null   object
 10  Textbox113           1176 non-null   float64
 11  Textbox116           1176 non-null   object
 12  Textbox115           1176 non-null   float64
 13  Textbox120           1176 non-null   object
 14  Textbox66            1176 non-null   float64
 15  Textbox73            1176 non-null   object
 16  num_buques12         1176 non-null   float64
 17  Textbox122           1176 non-null   object
 18  num_buques3          1176 non-null   float64
 19  Textbox101           1176 non-null   object
 20  num_buques11         1176 non-null   float64
 21  Textbox119           1176 non-null   object
 22  num_buques17         1176 non-null   int64
 23  Textbox128           1176 non-null   object
 24  num_buques10         1176 non-null   float64
 25  Textbox112           1176 non-null   object
 26  num_buques16         1176 non-null   float64
 27  Textbox129           1176 non-null   object
 28  num_buques22         1176 non-null   int64
 29  Textbox133           1176 non-null   object
 30  num_buques5          1176 non-null   float64
 31  Textbox103           1176 non-null   object
 32  num_buques21         1176 non-null   float64
 33  Textbox134           1176 non-null   object
 34  num_buques27         1176 non-null   float64
 35  Textbox138           1176 non-null   object
 36  num_buques20         1176 non-null   float64
 37  Textbox132           1176 non-null   object
 38  num_buques26         1176 non-null   float64
 39  Textbox139           1176 non-null   object
 40  num_buques32         1176 non-null   int64
 41  Textbox143           1176 non-null   object
 42  num_buques7          1176 non-null   float64
 43  Textbox105           1176 non-null   object
 44  num_buques31         1176 non-null   float64
 45  Textbox144           1176 non-null   object
 46  num_buques35         1176 non-null   float64
 47  Textbox148           1176 non-null   object
 48  num_buques39         1176 non-null   float64
 49  Textbox147           1176 non-null   object
 50  num_buques36         1176 non-null   float64
 51  Textbox149           1176 non-null   object
 52  num_buques42         1176 non-null   float64
 53  Textbox153           1176 non-null   object
 54  num_buques9          1176 non-null   float64
 55  Textbox107           1176 non-null   object
 56  num_buques41         1176 non-null   float64
 57  Textbox154           1176 non-null   object
 58  Textbox164           1176 non-null   float64
 59  Textbox165           1176 non-null   object
 60  Textbox162           1176 non-null   float64
 61  Textbox163           1176 non-null   object
 62  Textbox123           1176 non-null   float64
 63  Textbox124           1176 non-null   object
dtypes: float64(26), int64(4), object(34)
memory usage: 588.1+ KB

Tomando algo de detalle a las columnas desde la 'gt' en adelante y al [link](https://apps.fomento.gob.es/BDOTLE/visorBDpop.aspx?i=328) de la fuente se puede proceder a borrar todas estas columnas. Pasar a renombrarlo es un proceso lento y que cobra poco sentido cuando con simples queries se pueden hallar los sumatorios de campos previos.

In [9]:
df = df.iloc[:, :6]
df.head()

,autoridad_portuaria,tipo_buque,procedencia,year,num_buques,gt
0,Autoridad Portuaria A Coruña,Tanqueros,Nacionales,2019,3.0,54.468
1,Autoridad Portuaria A Coruña,Tanqueros,Nacionales,2020,4.0,21.696
2,Autoridad Portuaria A Coruña,Tanqueros,Nacionales,2021,1.0,5.424
3,Autoridad Portuaria A Coruña,Tanqueros,Extranjeros,2019,424.0,9.472.798
4,Autoridad Portuaria A Coruña,Tanqueros,Extranjeros,2020,287.0,7.244.978

In [10]:
df.to_csv('../data/otle_gt.csv', index=True)

Pasamos el nuevo y limpio dataframe a csv con título **otle_gt.csv**. Después de este paso podemos crear el entorno de la base de datos en SQL y posteriormente cargar las tablas con el contenido de dichos csv's.